
.appBody {
    background-color: #ffeaa7;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 130%;
  }

  .calendarBody {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #ffeaa7;
    transform: scale(1);
    color: gray; }

    .toDo {
      color: #fff; }
      .toDo:after {
        background: #fdcb6e; }

